@import '../base/reset';

.wrapper {
  padding: 40px 0;
  min-height: 100vh;
  background: linear-gradient(to right, #8a2387, #e94057, #f27121);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.accordeon {
  border: 1px solid #ddd;
  width: 100%;
  padding: 20px 0;
  background-color: #a55cb9;
  transition: 0.4s;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    background-color: #570b66;
    color: #e0f006;
  }
}

.list {
  height: 0;
  transition: height linear 0.2s;
  background-color: rgb(0, 0, 0);
  font-size: 18px;
  color: #1fbfff;
  overflow: hidden;
  &.active {
    height: 132px;
    transition: height linear 0.2s
  }

  li {
    cursor: pointer;
    border: 1px solid #1fbfff;
    padding: 5px;
    &:hover {
      background-color: #0a6f97;
      transition: all 0.8s;
    }
  }
}


